

/*      ESTILOS GERAIS       */


* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-left: 10px;
}

h2 {
    text-align: center;
    font-size: 1.1rem;
    margin: 10px auto;
}
h3 {
    font-size: 1rem;
}

ul{
    list-style: none;
}


/*      MENU        */


#menu-container {
    width: 100%;
    background-color: #e0e0e0;
    min-width: 324px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    min-height: 70px;
    max-width: 1100px;
    margin: auto;
}
.menu .navegacao {
    display: flex;
    align-items: center;
}
.navegacao img {
    height: 50px;
}
#menu-icone img {
    height: 30px;
}
.menu .lista-menu ul {
    display: inline-flex;
    background-color: #ffffff;
    padding: 10px;
}
.menu .lista-menu ul li:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0px 10px;
    margin: 0px 10px;
}
.menu .lista-menu ul li a {
    text-decoration: none;
    padding: 9px 0px;
    transition: color 0.3s;
    border-radius: 3px;
}
.menu .lista-menu ul li a:hover {
    transition: all .3s;
    background-color: #e0e0e0;
    cursor: pointer;
}


/*     MENU RESPONSIVO      */


.menu .navegacao #menu-icone {
    display: none;
    cursor: pointer;
}
.esconder {
    display: none;
}
.fundo-menu-lateral {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0; min-width: 100vw;
    min-height: 100vh;
   
}
.menu-lateral {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333333;
    width: 40%;
    min-height: 100vh;
}
.menu-lateral .icone-fechar {
    margin: 15px auto 15px 20px;
    padding: 5px;
    width:20px;
    cursor: pointer;
}
.menu-lateral ul li {
    text-align: right;
}
.menu-lateral ul li a {
    padding: 15px 20px;
    display: block;
    text-decoration: none;
    color:#e4e4e4;
    font-weight: 600;
    cursor: pointer;
}
.menu-lateral ul li a:hover {
    transition: all .3s;
    color: #333333;
    background-color: #e4e4e4;
}


#conteudo {
    display: flex;
    justify-content: space-between;
    margin: 30px auto 20px;
    width: 80%;
    max-width: 1100px;
    min-width: 300px;
}


/*      FORMULARIO       */


#formulario {
    border: 1px solid #808080;
    border-radius: 5px;
    display: table;
    flex-direction: column;
    padding: 10px;
    width: 40%;
    min-width: 279px;
}
#formulario .container-input {
    display: flex;
    flex-direction: column;
}
#formulario .container-input label {
    margin: 15px 0px 5px 0px;
}
#formulario .container-input input,
#formulario .container-input select {
    padding: 10px;
    color: #808080;
    font-size: 1.0rem;
    border: 1px solid #808080;
    border-radius: 5px;
}
#formulario .container-input span {
    color: #ff182b;
    text-align: right;
    display: none;
}
#formulario .container-button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
#formulario .container-button button.adicionar {
    border: none;
    background-color: #333333;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.0rem;
    padding: 10px 0px;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}
#formulario .container-button button.adicionar:hover {
    cursor: pointer;
    background-color: #808080;
}


/*      EXTRATO      */


#extrato {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 300px;
}
#extrato #lista-transacoes {
    display: none;
}
#extrato span {
    text-align: center;
    margin-top: 40px;
}
#extrato .descricao {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-bottom: 5px;
    margin-top: 15px;
    border-bottom: 1px solid #808080;
}
#extrato .line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding: 8px 0px;
}
#extrato .line .transacao .sinal {
    width: 25px;
    text-align: center;
}
#extrato .line .transacao {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
}
#extrato .resumo-transacoes {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid #808080;
}
#extrato .resumo-transacoes .resultado {
    display: flex;
    flex-direction: column;
    text-align: right;
}


/*      RESPONSIVO       */


@media (max-width: 1000px) {
    .menu,  #conteudo {
        width: 95%;
        width: 95%;
    }
}



@media (max-width: 800px) {
    #conteudo {
        flex-wrap: wrap;
    }
    .menu .lista-menu {
        display: none;
    }
    .menu .navegacao {
        width: 100%;
        justify-content: space-between;
    }
    .menu .navegacao h1 {
        margin-left: 0;
    }
    .menu .navegacao #menu-icone {
        display: initial;
    }
    #formulario, #extrato {
        width: 100%;
    }
    #formulario form {
        display: flex;
    }
    #formulario form .container-input:nth-child(1),
    #formulario form .container-input:nth-child(3) {
        width: 25%;
    }
    #formulario form .container-input:nth-child(2) {
        margin: 0 3%;
        width: 44%;
    }
    #formulario .container-button button.adicionar {
        width: 30%;
    }
    #extrato {
        margin-top: 40px;
    }
}


@media (max-width: 600px) {
    .menu-lateral {
        width: 90%;
    }
    #conteudo {
        padding: ;
        margin-top: 10px;
    }
    #formulario {
        border: ;
        border-bottom: 1px solid #808080;
        padding-bottom: 30px;
    }
  
    #formulario form {
        display: flex;
        flex-direction: column;
    }
    #formulario form .container-input:nth-child(1),
    #formulario form .container-input:nth-child(2),
    #formulario form .container-input:nth-child(3) {
        margin: auto 0px;
        width: 100%;
    }
    #formulario .container-button button.adicionar {
        width: 100%;
    }
}